{% extends '_base.html' %}
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
 
}
</style>
    <meta charset="utf-8">
    <title>{% block title %}Crime Reports{% endblock title %}</title>
</head>
<body>

<div class="container">
    {% block content %}
    This is the crimes page
    <table class="table table-striped">
        <thead>
            <td>Complaint</td>
            <td>CodedMonth</td>
            <td>dateoccur</td>
            <td>neighborhood</td>
            
        </thead>
        {% for crime in crimereport %}
            <tr>
                <td><a href="{% url 'crime_detail' crime.id %}"</a>{{ crime.complaint }}</td>
                <td>{{ crime.codedmonth }}</td>
                <td>{{ crime.dateoccur }}</td>
                <td>{{ crime.neighborhood }}</td>
                {% comment %} <td><option value="{{ crime.neighborhood.id }}">{{ crime.neighborhood.name }} <option/></td> {% endcomment %}
            </tr>
        {% endfor %}
    </table>
    {% endblock content %}
</div>
</body>
</html>
{% comment %} 
omplaint = models.CharField(max_length=9, default='')
    codedmonth = models.CharField(max_length=7, default='')
    dateoccur = models.CharField(max_length=16, default='')  
    flagcrime = models.CharField(max_length=1, default='')
    flagunfounded = models.TextField(max_length=1, default='')
    flagadmin = models.TextField(max_length=1, default='')
    rcount = models.IntegerField(default=0)
    crimecode = models.CharField(max_length=6, default='')
    district = models.CharField(max_length=3, default='')
    crimedesc = models.TextField(max_length=100, default='')
    leadaddress = models.CharField(max_length=10, default='')
    leadstreet = models.TextField(max_length=100, default='')
    importneighborhood = models.IntegerField(default=0)
    locationname = models.CharField(max_length=100, default='')
    locationcomment = models.CharField(max_length=100, default='')
    cadaddress = models.TextField(max_length=10, default='')
    cadstreet =  models.TextField(max_length=50, default='')
    xcoord = models.FloatField(default=0)
    ycoord = models.FloatField(default=0)
    neighborhood = models.ForeignKey(crime_neighborhood, 
        on_delete=models.CASCADE,
        blank=True)
    category = models.ForeignKey(crime_category, 
        on_delete=models.CASCADE,
        blank=True) {% endcomment %}