{% extends '_base.html' %}
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
 
}
</style>
    <meta charset="utf-8">
    <title>{% block title %}Neighborhoods Crimes{% endblock title %}</title>
</head>
<body>

<div class="container">
    {% block content %}
    {% comment %} {% debug  %} {% endcomment %}

    <a href="{% url 'slmpdneighborhood'%}">Back</a>
 

    <table class="table table-striped">
        <thead>
            <td>{{ neighborhoods }}</td>
            <td>Complaint</td>
            <td>Code Month</td>
            <td>Category</td>
            
        </thead>
        {% comment %} {% for crime in neighborhoods.crime_reports_set.all %} {% endcomment %}
{% regroup neighborhoods.crime_reports_set.all by category  as crime_list %}

{% for crimecat in crime_list %}
    <tr>
    <td>Category: {{crimecat.grouper  }}</td>
    </tr>
        {% for crime in crimecat.list %}
                <tr>
                        <td>{{ forloop.counter }} {{ crime }}</td>
                        <td>{{ crime.complaint }}</td>
                        <td>{{ crime.codedmonth}}</td>
                        <td>{{ crime.category}}</td>
                </tr>       
        {% endfor %}
{% endfor %}
    </table>

    {% endblock content %}


</div>
</body>
</html>
